__pycache__
.pytest_cache
*.tgz
bitmaps
images
nenv
build_artifacts
template_Implmnt/backup
template_Implmnt/dm/layer0.xdm
template_Implmnt/sbt/Log/*.log
template_Implmnt/sbt/Temp
template_Implmnt/sbt/outputs
template_Implmnt/sbt/netlist/oadb-main
template_Implmnt/post_ram_dissolve.srm
template_Implmnt/scratchproject.prs
template_Implmnt/template.edf
template_Implmnt/template.scf
template_Implmnt/template.srd
template_Implmnt/template.srm
template_Implmnt/template.srr
template_Implmnt/template.srs
template_Implmnt/template_cck.rpt
template_Implmnt/template_scck.rpt
template_Implmnt/template_synplify.fdc
template_Implmnt/template_XXXXXOLD.edf
template_Implmnt/template_XXXXXOLD.scf
template_Implmnt/run_options.txt
template_Implmnt/*.log
template_Implmnt/synlog
template_Implmnt/synlogbad
template_Implmnt/syntmp
template_Implmnt/synwork
*.log
*.pyc
stdout.log
stdout.log.bak
**/*.htm
**/*.szr
waveforms_projects