# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Mar 17 2019 12:09:27

# Family & Device:    iCE40LP8K

# Package:            CM81

# ##############################################################################

###IOSet List 18
set_io pin10 G2
#set_io pin11 H1
set_io pin12 J1
set_io pin13 H2
set_io pin18 A9
set_io pin19 B8
set_io pin20 A8
set_io pin21 B7
set_io pin23 B6
set_io pin24 A6
set_io pin3 B1
set_io pin3_clk_16mhz B2
set_io pin4 C2
set_io pin5 C1
set_io pin6 D2
set_io pin7 D1
set_io pin8 E2
set_io pin9 E1
#set_io pinLED B3
#set_io pin1_usb_dp B4
#set_io pin2_usb_dn A4

