# Written by Synplify Pro version maplat, Build 1612R. Synopsys Run ID: sid1673022344 
# Top Level Design Parameters 

# Clocks 
create_clock -period 62.500 -waveform {0.000 31.250} -name {my16mhzclk} -add [get_ports {pin3_clk_16mhz}] 
create_clock -period 45.455 -waveform {0.000 22.727} -name {clk_root} -add [get_pins {new_pll_inst.uut/PLLOUTCORE}] 
create_clock -period 1000.000 -waveform {0.000 500.000} -name {matrix_scan|row_latch_inferred_clock} [get_pins {matscan1.row_latch_inferred_clock_RNO/O}] 
create_clock -period 1000.000 -waveform {0.000 500.000} -name {matrix_scan|row_latch_inferred_clock_1} [get_pins {matscan1.row_latch_inferred_clock_RNO/O}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 


set_false_path -from [get_clocks {matrix_scan|row_latch_inferred_clock_1}] -to [get_clocks {matrix_scan|row_latch_inferred_clock}]
set_false_path -from [get_clocks {matrix_scan|row_latch_inferred_clock}] -to [get_clocks {matrix_scan|row_latch_inferred_clock_1}]

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 
# create_generated_clock -name myclk_matrix -source n:clk_root_logic n:clkdiv_matrix.clk_out -divide_by 3 -add

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

